<div style="position: fixed; top: 15%; left: 10%; text-align: center">
  <p style="font-size: 20px;">
    <mat-form-field style="width: 320px;">
      <input matInput placeholder="Full name">
    </mat-form-field>
  </p>
  <p style="font-size: 20px;">
    <mat-form-field style="width: 320px;">
      <input matInput placeholder="Email">
    </mat-form-field>
  </p>
  <p style="font-size: 20px;">
    <mat-form-field style="width: 320px;">
      <input matInput placeholder="Phone number">
    </mat-form-field>
  </p>
  <p style="font-size: 20px;">
    <mat-form-field style="width: 320px;">
      <input matInput placeholder="Fiscal year">
    </mat-form-field>
  </p>
  <p style="font-size: 20px;">
    <mat-form-field style="width: 320px;">
      <input matInput placeholder="SU">
    </mat-form-field>
  </p>
  <p style="font-size: 18px;">
    <mat-form-field appearance="fill" style="width: 320px;">
      <mat-label>Project info</mat-label>
      <mat-select>
        <mat-option value="option">Project completed</mat-option>
        <mat-option value="option">Project incomplete</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p style="font-size: 18px;">
    <mat-form-field appearance="fill" style="width: 320px;">
      <mat-label>Responsible Manager</mat-label>
      <mat-select>
        <mat-option value="option">Pop Ion</mat-option>
        <mat-option value="option">Ionescu Mihai</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <button mat-button color="primary" style="width: 200px; height: 50px; font-size: 20px;">Request new PEG</button>
  </p>

</div>
