<div style="position: fixed; text-align: center; top: 20%; left: 38%;">
<h1 style="font-size: 45px;">Add a user</h1>
  <br>
  <br>
  <br>
<form class="example-form">
  <mat-form-field  style="width: 320px;" class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="John Doe">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 320px;" class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="john.doe@domain.com">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 320px;" class="example-full-width" appearance="fill">
    <mat-label>Personal Number</mat-label>
    <input matInput placeholder="123456789">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 320px;" class="example-full-width" appearance="fill">
    <mat-label>SU</mat-label>
    <input matInput placeholder="Jane Doe">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 320px;" class="example-full-width" appearance="fill">
    <mat-label>Career level</mat-label>
    <input matInput placeholder="Junior">
  </mat-form-field>
  <br>
  <br>
  <button mat-button style="font-size: 20px; width: 320px; height: 50px; background-color: #5F765D; color: white">
    Add user
  </button>
</form>
</div>
