<div class="example-container">
  <div style="position: fixed; text-align: center; top: 20%; left: 40%;">
    <p>
      <label style="font-size: 50px;">Log in</label>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="font-size: 20px;">
      <mat-form-field style="width: 320px;">
        <input matInput placeholder="Username">
      </mat-form-field>
    </p>
    <p style="font-size: 20px;">
      <mat-form-field style="width: 320px;">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    <p>
      <br>
      <br>
      <button mat-button style="font-size: 20px; width: 320px; height: 50px; background-color: #5F765D; color: white">
        Log in
      </button>

    </p>
  </div>
</div>
