<mat-card>
  <mat-list>
    <br>
    <br>
    <br>
    <br>
    <mat-list-item style="font-size: 35px">Profile</mat-list-item>
    <mat-divider></mat-divider>
    <div style="padding-top: 100px; padding-left: 10%; padding-bottom: 100px">
      <div>
        <mat-chip-list>
          <mat-chip selected style="width: 250px; height: 40px; font-size: 25px; background-color: #A3B8A1; color: white">Name</mat-chip>
          <mat-chip style="margin-left: 35px; width: 450px; height: 40px; font-size: 20px">Pop Ion Marcel</mat-chip>
        </mat-chip-list>
      </div>
      <br>
      <br>
      <div style="display: inline">
        <mat-chip-list>
          <mat-chip selected style="width: 250px; height: 40px; font-size: 25px; background-color: #A3B8A1; color: white">Email</mat-chip>
          <mat-chip style="margin-left: 35px; width: 450px; height: 40px; font-size: 20px">popionmarcel22@yahoo.com
          </mat-chip>
        </mat-chip-list>
      </div>
      <br>
      <br>
      <div style="display: inline">
        <mat-chip-list>
          <mat-chip selected style="width: 250px; height: 40px; font-size: 25px; background-color: #A3B8A1; color: white">Role</mat-chip>
          <mat-chip style="margin-left: 35px; width: 450px; height: 40px; font-size: 20px">Manager</mat-chip>
        </mat-chip-list>
      </div>
      <br>
      <br>
      <div style="display: inline">
        <mat-chip-list>
          <mat-chip selected style="width: 250px; height: 40px; font-size: 25px; background-color: #A3B8A1; color: white">Total reviews
          </mat-chip>
          <mat-chip style="margin-left: 35px; width: 450px; height: 40px; font-size: 20px">23</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-list>
</mat-card>
<br>
<br>
<br>
<div style="text-align: center">
  <button mat-raised-button style="font-size: 25px; width: 190px; height: 60px; background-color: #5F765D; color: white">PEG</button>
  <button mat-raised-button style="margin-left: 70px; font-size: 25px; width: 190px; height: 60px; background-color: #5F765D; color: white">
    Feedback
  </button>
</div>

