<div style="position: fixed; top: 10%; left: 10%; text-align: center">
  <p style="font-size: 18px;">
    <mat-form-field appearance="fill" style="width: 320px;">
      <mat-label>User</mat-label>
      <mat-select>
        <mat-option value="option">Pop Ion Marcel</mat-option>
        <mat-option value="option">Popa Ioana Maria</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p style="font-size: 20px;">
    <mat-form-field style="width: 320px;">
      <input matInput placeholder="Project">
    </mat-form-field>
  </p>
  <section style="margin-left: -215px">
    <p>
      <mat-checkbox>Anonymous</mat-checkbox>
    </p>
  </section>
  <br>

  <p>
    <br>
    <button mat-button style="font-size: 20px; width: 320px; height: 50px; background-color: #5F765D; color: white">
      Request new PEG
    </button>
  </p>

</div>
